.form-style form input, form textarea, form select {
    width: 100%;
    padding: 1rem; /* Tingkatkan padding */
    border: 2px solid #bcbcbc;
    border-radius: 1rem; /* Buat sudut lebih bulat */
    background-color: #f5f5f5; /* Tambahkan warna latar belakang yang lebih lembut */
}

.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #81c784; /* Ganti dengan warna pastel yang lebih lembut */
    box-shadow: 0 0 10px #81c784; /* Buat bayangan lebih lembut */
}

@keyframes shine {
    0% { background-position: -150% 0; } /* Kurangi pergerakan */
    100% { background-position: 150% 0; }
}

.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2));
    background-size: 150% 100%; /* Sesuaikan ukuran */
    animation: shine 5s infinite; /* Perpanjang durasi animasi agar lebih lembut */
}